# todo finish, now got from https://github.com/prometheus/alertmanager?tab=readme-ov-file
apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
data:
  alertmanager.yml: |
    global:
      smtp_smarthost: 'smtp.gmail.com:587'
      smtp_from: 'TODO@gmail.com'
      smtp_auth_username: 'TODO@gmail.com'
      smtp_auth_password: 'TODO get from secrets in later step'
      smtp_require_tls: true

    route:
      receiver: 'email-notifications'
      group_by: ['alertname']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 15m

    receivers:
    - name: 'email-notifications'
      email_configs:
      - to: 'TODO@example.com'
        headers:
          Subject: 'Alert: {{ .GroupLabels.alertname }}'
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertmanager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alertmanager
  template:
    metadata:
      labels:
        app: alertmanager
    spec:
      containers:
      - name: alertmanager
        image: prom/alertmanager:latest
        ports:
        - containerPort: 9093
        volumeMounts:
        - name: config
          mountPath: /etc/alertmanager
        args:
        - '--config.file=/etc/alertmanager/alertmanager.yml'
      volumes:
      - name: config
        configMap:
          name: alertmanager-config
---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager
spec:
  selector:
    app: alertmanager
  ports:
  - port: 9093