apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-prometheus-kube-prometheus-alertmanager
  namespace: monitoring
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m
    
    route:
      receiver: 'default'
      group_by: ['alertname', 'severity']
      group_wait: 10s
      group_interval: 5m
      repeat_interval: 12h
    
    receivers:
      - name: 'default'
        webhook_configs:
          - url: 'http://localhost:5001/webhook'
            send_resolved: true
      # Add others todo
      # - name: 'email'
      #   email_configs:
      #     - to: 'your-email@example.com'
      #       from: 'alertmanager@example.com'
      #       smarthost: 'smtp.gmail.com:587'