# SMS app configuration
app:
  name: sms-app
  replicaCount: 1
  image:
    repository: ghcr.io/doda25-team16/sms-app
    stableTag: "0.0.9"
    canaryTag: "0.0.8"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080
  env:
    serverPort: "8080"
    modelServiceUrl: "http://sms-model:8081"
    modelHost: "http://sms-model:8081"
  secret:
    secretName: sms-app-secret # set to null if you want the app to fail if no secret is provided
    key: MY_SECRET
  version: stable
  canaryVersion: canary   
# SMS Model Service Configuration 
model:
  name: sms-model
  replicaCount: 1
  image:
    repository: ghcr.io/doda25-team16/sms-model
    stableTag: latest
    canaryTag: latest
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8081
    targetPort: 8081
  env:
    modelPort: "8081"
    modelUrl: "https://github.com/doda25-team16/model-service/releases/latest/download/model-release.tar.gz"
  version: stable         
  canaryVersion: canary   
# Ingress configuration
ingress:
  enabled: true
  className: nginx
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: team16-sms.local
      paths:
        - path: /
          pathType: Prefix
          serviceName: sms-app
          servicePort: 8080
  tls: []
  # - secretName: chart-example-tls
  # hosts:
  #   - chart-example.local

# Istio Configurations
istio:
  gatewaySelector:
    istio_name_label: ingressgateway # ingress selector name
  gatewayName: my-gateway
  entryVirtualServiceName: my-entry-service
  entryHosts:
    - "*"

trafficManagement:
  ratelimit:
    enabled: true
    requestsPerMinute: 10

  splitting:
    stableWeight: 90
    canaryWeight: 10

# Monitoring and Alerting Configuration
monitoring:
  enabled: true
  namespace: monitoring
  
  # Prometheus Rules
  prometheusRules:
    enabled: true
    interval: 15s
    
    highResponseTime:
      enabled: true
      threshold: 2  # seconds
      for: 2m
      severity: warning
    
    highMemoryUsage:
      enabled: true
      threshold: 0.9  # 90%
      for: 2m
      severity: warning
    
    highErrorRate:
      enabled: true
      threshold: 1  # errors per second
      for: 1m
      severity: critical
    
    podDown:
      enabled: true
      for: 1m
      severity: critical
