- hosts: all
  become: yes
  tasks:
    - name: Install MetalLB CRDs (#20a)
      become_user: vagrant
      ansible.builtin.shell: kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.14.9/config/manifests/metallb-native.yaml --insecure-skip-tls-verify=true
      args:
        creates: /home/vagrant/.metallb-installed
      environment:
        KUBECONFIG: /home/vagrant/.kube/config

    - name: Wait for MetalLB controller to be ready (#20b)
      become_user: vagrant
      ansible.builtin.command: kubectl wait -n metallb-system -l app=metallb,component=controller --for=condition=ready pod --timeout=60s
      register: metallb_wait
      retries: 3
      delay: 10
      until: metallb_wait.rc == 0
      environment:
        KUBECONFIG: /home/vagrant/.kube/config

    - name: Create IPAddressPool configuration (#20c)
      become_user: vagrant
      ansible.builtin.copy:
        content: |
          apiVersion: metallb.io/v1beta1
          kind: IPAddressPool
          metadata:
            name: default-pool
            namespace: metallb-system
          spec:
            addresses:
            - 192.168.56.90-192.168.56.99
        dest: /tmp/metallb-ipaddresspool.yaml

    - name: Apply IPAddressPool (#20d)
      become_user: vagrant
      ansible.builtin.command: kubectl apply -f /tmp/metallb-ipaddresspool.yaml
      environment:
        KUBECONFIG: /home/vagrant/.kube/config

    - name: Create L2Advertisement configuration (#20e)
      become_user: vagrant
      ansible.builtin.copy:
        content: |
          apiVersion: metallb.io/v1beta1
          kind: L2Advertisement
          metadata:
            name: default-l2adv
            namespace: metallb-system
          spec:
            ipAddressPools:
            - default-pool
        dest: /tmp/metallb-l2advertisement.yaml

    - name: Apply L2Advertisement (#20f)
      become_user: vagrant
      ansible.builtin.command: kubectl apply -f /tmp/metallb-l2advertisement.yaml
      environment:
        KUBECONFIG: /home/vagrant/.kube/config

    - name: Add Nginx Ingress Helm repository (#21a)
      become_user: vagrant
      ansible.builtin.command: helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
      environment:
        KUBECONFIG: /home/vagrant/.kube/config

    - name: Update Helm repositories (#21b)
      become_user: vagrant
      ansible.builtin.command: helm repo update
      environment:
        KUBECONFIG: /home/vagrant/.kube/config

    - name: Install Nginx Ingress Controller (#21c)
      become_user: vagrant
      # manually assign to first IP from metallb pool
      ansible.builtin.command: >
        helm install ingress-nginx ingress-nginx/ingress-nginx
        --namespace ingress-nginx
        --create-namespace
        --set controller.service.loadBalancerIP=192.168.56.90
      environment:
        KUBECONFIG: /home/vagrant/.kube/config
    